* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-image: linear-gradient(316deg, #cbc9cc, #ece0d2);
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  width: 1100px;
  height: 180px;
  background-color: #ece0d2;
  border: solid black 1px;
  border-radius: 30px;
  display: flex;
  margin-bottom: 48px;
  box-shadow: 1px 1px 10px gray;
}
.user-picture {
  height: 100%;
  width: 180px;
  border-right: solid black 1px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.post-info {
  display: flex;
  border-bottom: solid black 1px;
  height: 28px;
  padding-left: 20px;
  align-items: center;
  font-size: 12px;
}

.post-right {
  flex: 1;
}

.post {
  display: flex;
  height: 104px;
  width: 850px;
  padding: 6px 50px 40px 20px;
  box-sizing: content-box;
  font-size: 16px;
}

.image {
  width: 123px;
  height: 123px;
  border-radius: 30px;
  object-fit: cover;
}

.nav-bar {
  width: 1100px;
  height: 50px;
  display: flex;
  background-color: #ece0d2;
  border: solid black 1px;
  border-radius: 67.5px;
  font-size: 24px;
  box-shadow: 1px 1px 5px gray;
  margin-bottom: 28px;
  margin-top: 10px;
}

.nav-left {
  display: flex;
  width: 50%;
  padding: 7px 0px 7px 69px;
  align-items: center;
  font-weight: 0.75;
}

.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 2;
}

.forums-link {
  margin: 7px 58px 7px 0px;
}

.account-link {
  margin: 7px 50px 7px 0px;
}

.full-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  min-height: calc(100vh - 40px)
}

.item-description {
  width: 675px;
  min-height: 50px;
  border-bottom: 1px solid black;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 5px 5px 5px 5px;
  font-size: 16px;

}
.item-title {
  width: 175px;
  min-height: 50px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}

.title, .sign-in-title {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 40px;
  margin-bottom: 27px;
  padding-left: 50px;
  height: auto;
}
.sign-in-title {
  margin: 25px 0px 23px 77px;
  padding-left: 0px;
  margin-bottom: 23px;
}

.pag-button {
  background: none;
  border: none;
}

.pag-button:hover {
  color: blue;
  text-decoration: underline;
}

.post-input-box {
  width: 868px;
  height: 105px;
  vertical-align: top;
}

.post-input {
  display: flex;
  height: 100%;
  width: 850px;
  padding: 6px 40px 36px 12px;
  box-sizing: content-box;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.post-input-button {
  width: 60px;
  height: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 8px 62px 12px 798px;

}

.general-button {
  width: 223px;
  height: 37px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F5F3F1;
  color: black;
  font-weight: light;
  text-decoration: none;
}

.general-button:hover {
  text-decoration: underline;
}


.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.form-prompt {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  border-radius: 35px;
  background-color: #ECE0D2;
  width: 850px;
}

.button-gap {
  height: 14px;
}

.medium-gap {
  height: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-buttons {
  display: flex;
  justify-content: space-evenly;
}

.input-area {
  font-size: 20px;
  text-decoration: underline 1px;
  text-underline-offset: 5px;
  width: 700px;
  height: 84px;
  margin: 0px 73px 0px 77px;
  font-weight: 100;
}

.input-box {
  margin-top: 12;
  width: 100%;
  height: 42px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 16px;
  padding-left: 20px;
  background-color: #F5F3F1;
}

.input-label {
  margin-bottom: 12px;
  margin-top: 0px;
}

.item-box {
  width: 850px;
  background-color: #ECE0D2;
  border: 1px solid black;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
}

.item-box-title {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 400;
  margin: 26px 0px 25px 0px;
}

.line {
  width: 100%;
  border-bottom: 1px solid black;
}

.end-gap {
  height: 40px;
}

.item-box-item {
  width: 100%;
  min-height: 50px;
  display: flex;
}

.item-box-pag {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}